// Process-specific configs
process {
    // Default process configuration
    cpus = { params.threads }

    // Process-specific configurations
    withName: 'HRRT' {
        container = 'ncbi/sra-human-scrubber:2.2.1'
    }

    withName: 'FASTP' {
        container = 'staphb/fastp:0.24.0'
    }

    withName: 'KRAKEN2' {
        container = 'staphb/kraken2:2.1.3'
    }

    withName: 'BWA' {
        container = 'staphb/bwa:0.7.18'
    }

    withName: 'SAMTOOLS' {
        container = 'staphb/samtools:1.21'
    }

    withName: 'IVAR.*' {
        container = 'staphb/ivar:1.4.3'
    }

    withName: 'QUAST' {
        container = 'staphb/quast:5.3.0'
    }

    withName: 'MULTIQC' {
        container = 'staphb/multiqc:1.25'
    }
}

// Profiles for different environments
profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
            autoMounts = true
        }
        process.container = null
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
        process.container = null
    }

    apptainer {
        apptainer {
            enabled = true
            autoMounts = true
        }
        process.container = null
    }
}

// Error handling
process.errorStrategy = 'finish'
process.maxRetries = 0
