// Process-specific configs  
process {

    // Process-specific resource allocations
    withName: 'FASTQ_SCAN' {
        container = 'staphb/fastq-scan:1.0.1'
        cpus = 2
        memory = '2 GB'
    }
    
    withName: 'TRIMMOMATIC' {
        container = 'staphb/trimmomatic:0.40'
        cpus = 8
        memory = '8 GB'
    }

    withName: 'BBDUK.*' {
        container = 'staphb/bbtools:39.34'
        cpus = 8
        memory = '8 GB'
    }

    withName: 'FASTP_REPORT' {
        container = 'staphb/fastp:0.24.0'
        cpus = 8
        memory = '8 GB'
    }

    withName: 'HRRT' {
        container = 'ncbi/sra-human-scrubber:2.2.1'
        cpus = 8
        memory = '16 GB'
    }
    
    withName: 'KRAKEN2' {
        container = 'staphb/kraken2:2.1.3'
        cpus = 16
        memory = '32 GB'
    }

    withName: 'KRAKENTOOLS' {
        container = 'staphb/krakentools:d4a2fbe'
        cpus = 2
        memory = '4 GB'
    }

    withName: 'BWA.*' {
        container = 'staphb/bwa:0.7.18'
        cpus = 16
        memory = '16 GB'
    }

    withName: 'SAMTOOLS.*' {
        container = 'staphb/samtools:1.21'
        cpus = 8
        memory = '8 GB'
    }

    withName: 'IVAR.*' {
        container = 'staphb/ivar:1.4.3'
        cpus = 4
        memory = '8 GB'
    }

    withName: 'SPADES' {
        container = 'staphb/spades:4.0.0'
        cpus = 16
        memory = '32 GB'
    }
    
    withName: 'POLISH_CONTIGS' {
        container = 'staphb/pilon:1.24'
        cpus = 8
        memory = '16 GB'
    }

    withName: 'MAKEBLASTDB' {
        container = 'ncbi/blast:2.15.0'
        cpus = 2
        memory = '4 GB'
    }

    withName: 'BLAST' {
        container = 'ncbi/blast:2.15.0'
        cpus = 4
        memory = '8 GB'
    }

    withName: 'CLASSIFY_CONTIGS' {
        cpus = 2
        memory = '4 GB'
    }

    withName: 'QUAST' {
        container = 'staphb/quast:5.3.0'
        cpus = 2
        memory = '4 GB'
    }

    withName: 'SUMMARY_REPORT.*' {
        cpus = 1
        memory = '2 GB'
    }

    withName: 'MULTIQC' {
        container = 'staphb/multiqc:1.25'
        cpus = 1
        memory = '2 GB'
    }

}

// Profiles for different environments
profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
            autoMounts = true
        }
        process.container = null
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
        process.container = null
    }

    apptainer {
        apptainer {
            enabled = true
            autoMounts = true
        }
        process.container = null
    }
}

// Error handling
process.errorStrategy = 'finish'
process.maxRetries = 0
